
@font-face {
  font-family: 'outfit-r';
  src: url('../fonts/Outfit-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-r';
  src: url('../fonts/Nunito-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-ExtraBold';
  src: url('../fonts/Mulish-ExtraBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg : #e8e8e8;
  --tint : rgba(241, 241, 241, 0.5);
  --f-color : black;
  --scrollbar-color: #f1f1f1;
  --light: white;
  --content-box: rgb(249,249,249);
  --content-border-color: rgba(200,200,200,0.4);
  --content-txt-color: rgba(0,0,0,0.7);
  --content-COMPUTERCODE-color: rgba(0,0,0,0.9);
  --treetab-color: #e8eaf7;
  --header-border: rgba(180,180,180,0.1); 
  --finder-name: rgba(150,150,150,0.2);
  --utils-border-color: rgba(100, 100, 100, 0.1);
  --tree-btn-color: rgba(240,240,250,0.6);
  --toogle-btn-color: rgb(160, 194, 238);
  --UTILS-BOX-COLORA: rgba(249,249,249,0.7);
  --UTILS-BOX-COLORB: rgba(241,241,255,0.7);
  /* ligth scheme */
  --bg : #e8e8e8;
  --tint : rgba(241, 241, 241, 0.5);
  --f-color : black;
  --scrollbar-color: #f1f1f1;
  --light: white;
  --content-box: rgb(249,249,249);
  --content-border-color: rgba(200,200,200,0.4);
  --content-txt-color: rgba(0,0,0,0.8);
  --content-COMPUTERCODE-color: rgba(0,0,0,0.9);
  --treetab-color: #e8eaf7;
  --header-border: rgba(180,180,180,0.1); 
  --finder-name: rgba(150,150,150,0.2);
  --utils-border-color: rgba(100, 100, 100, 0.1);
  --tree-btn-color: rgba(240,240,250,0.6);
  --toogle-btn-color: rgb(160, 194, 238);
  --UTILS-BOX-COLORA: rgba(249,249,249,0.7);
  --UTILS-BOX-COLORB: rgba(241,241,255,0.7);
  /* ligth scheme */


  /* --bg : #222;
  --tint : rgba(101, 101, 101, 0.5);
  --f-color : white;
  --scrollbar-color: #282b2e;
  --light: black;
  --content-box: rgb(17,17,17);
  --content-border-color: rgba(230,230,230,0.3);
  --content-txt-color: rgba(250,250,250,0.8);
  --content-COMPUTERCODE-color: pink;
  --treetab-color: #032f31;
  --header-border: rgba(100,100,100,0.1); 
  --finder-name: rgba(120,120,120,0.2);
  --utils-border-color: rgba(200, 200, 200, 0.1);
  --tree-btn-color: rgba(140,140,150,0.6);
  --toogle-btn-color: rgb(160, 194, 238);
  --UTILS-BOX-COLORA: rgba(49,49,49,0.7);
  --UTILS-BOX-COLORB: rgba(41,41,65,0.7); */
  /* --bg : #222;
  --tint : rgba(101, 101, 101, 0.5);
  --f-color : white;
  --scrollbar-color: #282b2e;
  --light: black;
  --content-box: rgb(17,17,17);
  --content-border-color: rgba(230,230,230,0.3);
  --content-txt-color: rgba(250,250,250,0.8);
  --content-COMPUTERCODE-color: pink;
  --treetab-color: #032f31;
  --header-border: rgba(100,100,100,0.1); 
  --finder-name: rgba(120,120,120,0.2);
  --utils-border-color: rgba(200, 200, 200, 0.1);
  --tree-btn-color: rgba(140,140,150,0.6);
  --toogle-btn-color: rgb(160, 194, 238);
  --UTILS-BOX-COLORA: rgba(49,49,49,0.7);
  --UTILS-BOX-COLORB: rgba(41,41,65,0.7); */
  /* dark scheme */
}

body {
  background-color: var(--bg);
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: var(--scrollbar-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
